#orderdisplay {background-color: #FFFFCC; }
section.section1 {background-color: #FFFFCC; visibility: hidden; position: fixed; width: 600px;text-align: center;height: 100%;}
section.section2 {background-color: #DCDCDC; visibility: hidden;position: fixed;  width: 600px; text-align: center;height: 100%;}
section.section3 {background-color: #DCDCDC; visibility: hidden;position: fixed;  width: 600px; text-align: center;height: 100%;}
table, th, td {
    border: 1px solid black;
    text-align:justify;
}
.scrollable {
    height: 100%;
    overflow-y: auto;
}